---
  import Youtube from "./Youtube.astro";
  import Chip from "./Chip.astro";
  import t from "../locales/language";
  
  const {post, lang} = Astro.props

  function date() {
    return "";
  }
---

<div class="content" id="article-{post.slug}">
  <a href="/{lang}/post/{post.slug}">
    <h1>{post.title}</h1>
    <p class="publish-infos">{date()}</p>
  </a>
  <div class="movie-feature">
    <Youtube class="movie-trailer" videoId={post.youtubeMovieTrailer} />
  </div>
  <div class="chips-group">
    <span>Categories :</span>
    {post.categories?.map((category: any) => (
      <Chip active={category.selected}>{category.frontmatter.name}</Chip>
    ))}
  </div>
  <div class="chips-group">
    <span>Tags :</span>
    {post.tags?.map((tag: any) => (
      <Chip
        active={tag.selected}
        style="margin: 5px;"
        href={`${lang}/tags/${tag.name}`}
      >
        {tag.frontmatter.name}
      </Chip>
    ))}
  </div>
  <p class="excerpt">{post.excerpt || ""}</p>
  <a href="/{lang}/post/{post.slug}">{t(lang).readMore}</a>
</div>

<style>
  .chips-group {
    padding: 5px 0;
  }
</style>
