---
  import Youtube from "./Youtube.astro";
  import Chip from "./Chip.astro";
  import t from "../locales/language";

  interface ArticlePreviewProps {
    tags: {
      name: string,
      selected: boolean
    }[]
    categories: {
      name: string,
      selected: boolean
    }[]
    post: {
      title: string
      youtubeMovieTrailer: string | undefined
      excerpt: string | undefined
    }
    lang: string
  }

  const {tags, categories, post, lang} : ArticlePreviewProps = Astro.props as ArticlePreviewProps

  function date() {
    return "";
  }
---

<div class="content" id="article-{post.slug}">
  <a href="/{lang}/post/{post.slug}">
    <h1>{post.title}</h1>
    <p class="publish-infos">{date()}</p>
  </a>
  <div class="movie-feature">
    <Youtube class="movie-trailer" videoId={post.youtubeMovieTrailer} />
  </div>
  <div class="chips-group">
    <span>Categories :</span>
    {categories.map((category) => (
      <Chip active={category.selected}>{category.name}</Chip>
    ))}
  </div>
  <div class="chips-group">
    <span>Tags :</span>
    {tags.map((tag) => (
      <Chip
        active={tag.selected}
        style="margin: 5px;"
        href={`${lang}/tags/${tag.name}`}
      >
        {tag.name}
      </Chip>
    ))}
  </div>
  <p class="excerpt">{post.excerpt || ""}</p>
  <a href="/{lang}/post/{post.slug}">{t(lang).readMore}</a>
</div>

<style>
  .chips-group {
    padding: 5px 0;
  }
</style>
