---
	import t from "../locales/language";
	import MainSection from "../components/MainSection.astro"
	import Nav from "../components/Nav.astro"
	import SiteHero from "../components/SiteHero.astro"
	import SiteFooter from "../components/SiteFooter.astro"
	import Chip from "../components/Chip.astro"

	const {lang, title} = Astro.props
	const genres: any[] = []
	const regions: any[] = []
	const categories: any[] = []
---
  
<svelte:head>
	<link
	data-n-head="1"
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Roboto+Slab&amp;display=swap"
	/>
	<link
	data-n-head="1"
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap"
	/>
	<title>{title}</title>
</svelte:head>

<div class="site-layout-width-contained posts-theme-one-column">
	<SiteHero />
	<Nav />
	<MainSection theme="sidebar-right">
	<!-- All Posts -->
	<slot />
	<div class="content" slot="sidebar">
		<img alt="Aristotle" src="/aristotle-homer.jpg" />
		<p>
		{t(lang).siteName}
		{t(lang).sidebar.intro}
		</p>
		<h3 class="subtitle">{t(lang).sidebar.Chronicles}</h3>
		<ul class="categories-menu">
			<li>
				<a href="/{lang}/category/bullit-comments">
				{t(lang).sidebar["Bullet comments"]}
				</a>
			</li>
			<li>
				<a href="/{lang}/category/films-of-the-past">
				{t(lang).sidebar["Revisiting classics"]}
				</a>
			</li>
			<li>
				<a href="/{lang}/category/more-on-hermeneutics">
				{t(lang).sidebar["More on hermeneutics"]}
				</a>
			</li>
			{lang == "fr" && 
				<li>
					<a href="/fr/films-quebecois">
						Films québécois
					</a>
				</li>
			}
		</ul>
		<h3 class="subtitle">{t(lang).sidebar["The Shrink's Toolbox"]}</h3>
		<ul class="categories-menu">
		{categories.map((category: any) => (
			<li><a href={`/${lang}/category/${category.slug}`}> {category.name} </a></li>
		))}
		</ul>
		<h3 class="subtitle">{t(lang).sidebar.Region}</h3>
		{regions.map((region: any) => (
			<Chip
				href={`${lang}/tags/${region.name}`}>
				{region.name}
			</Chip>
		))}
		<h3 class="subtitle">Genre</h3>
		{genres.map((genre: any) => (
			<Chip
				href={`${lang}/tags/${genre.name}`}>
				{genre.name}
			</Chip>
		))
		}
	</div>
	</MainSection>
	<SiteFooter />
</div>
  
  <style lang="scss" global>
	@import "./../static/global.scss";
  
	.content {
	  margin-left: 10px;
	}
	.content h3 {
	  font-size: 21px;
	}
	.content p {
	  font-weight: 400;
	  line-height: 31px;
	}
	.content .subtitle {
	  padding-top: 30px;
	}
  
	ul {
	  margin-left: 0;
	}
  
	li {
	  list-style: none;
	  padding: 6px 0 0;
	  margin: 6px 0 0;
	  border-top: 1px solid #eee;
	}
  
	li a {
	  line-height: 31px;
	  font-size: 15px;
	  color: #1c7c7c;
	  transition: all 0.2s ease-in-out;
	}
  
	li a:hover {
	  color: #666;
	}
  
	.content img {
	  width: 85%;
	  margin-left: 10px;
	}
  </style>
  